#!/bin/bash
cd {{ project_path }} && \
docker compose stop web && \
docker run --rm -p 80:80 -p 443:443 -v "/etc/letsencrypt:/etc/letsencrypt" -v "/var/lib/letsencrypt:/var/lib/letsencrypt" certbot/certbot renew --quiet && \
docker compose start web